.header {
    text-align:center;
}

a {
    display:block;
    width:100%;
    text-align:center;
}
.flag {
  width:900px;
  height:600px;
  margin:auto;
  border:1px solid black;
  position:relative;
}

.stripe {
    height:100%;
    width:33.33%;
    float:left;
}

.red {
    background-color:#d50032;
}

.yellow {
    background-color:#fedd00;
}
.blue {
    background-color:#10069f;
}

img {
    width:50px;
    height:50px;
    position:absolute;
    left:50px;
    top:100px;
}